name: Build release artifacts

on:
  release:
    types:
      - created

permissions:
  contents: write
  actions: write

jobs:
  macos:
    name: Macos build
    runs-on: macos-latest
    env:
      GOOS: darwin
      GOARCH: amd64
      CGO_ENABLED: 1
    steps:
        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        - uses: actions/setup-go@424fc82d43fa5a37540bae62709ddcc23d9520d4 # v2.1.5
          with:
            go-version: '1.20.11'
        - name: Build Macos executable
          run: |
            set -x
            go build -o dx-download-agent cmd/dx-download-agent/dx-download-agent.go
            chmod +x dx-download-agent
        - name: Upload artifact
          uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
          with:
            name: dx-download-agent-macos
            path: ./dx-download-agent
        - name: Upload release asset
          uses: actions/upload-release-asset@64e5e85fc528f162d7ba7ce2d15a3bb67efb3d80 # v1.0.1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            upload_url: ${{ github.event.release.upload_url }}
            asset_path: ./dx-download-agent
            asset_name: dx-download-agent-macos
            asset_content_type: binary/octet-stream
  windows:
    name: Windows build
    runs-on: windows-latest
    env:
      GOOS: windows
      GOARCH: amd64
      CGO_ENABLED: 1
    steps:
        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        - uses: actions/setup-go@424fc82d43fa5a37540bae62709ddcc23d9520d4 # v2.1.5
          with:
            go-version: '1.20.11'
        - name: go dependencies
          run: go get -u github.com/google/subcommands
        - name: Build Windows executable
          run: |
            go build -o dx-download-agent.exe cmd/dx-download-agent/dx-download-agent.go
            dir
        - name: Upload artifact
          uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
          with:
            name: dx-download-agent-windows.exe
            path: ./dx-download-agent.exe
        - name: Upload release asset
          uses: actions/upload-release-asset@64e5e85fc528f162d7ba7ce2d15a3bb67efb3d80 # v1.0.1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            upload_url: ${{ github.event.release.upload_url }}
            asset_path: ./dx-download-agent.exe
            asset_name: dx-download-agent-windows.exe
            asset_content_type: binary/octet-stream
  linux:
    name: Linux build
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        - name: Build builder Docker image
          uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
          with:
            context: .
            file: builder.Dockerfile
            push: false
            tags: dxda-builder:latest
        - name: Build Linux executable
          run: |
            set -x
            docker run --rm \
            -v ${{ github.workspace }}:/dxda \
            -w /dxda \
            dxda-builder:latest \
            go build -o dx-download-agent cmd/dx-download-agent/dx-download-agent.go
        - name: Upload artifact
          uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
          with:
            name: dx-download-agent-linux
            path: ./dx-download-agent
        - name: Upload release asset
          uses: actions/upload-release-asset@64e5e85fc528f162d7ba7ce2d15a3bb67efb3d80 # v1.0.1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            upload_url: ${{ github.event.release.upload_url }}
            asset_path: ./dx-download-agent
            asset_name: dx-download-agent-linux
            asset_content_type: binary/octet-stream
  docker:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # 3.5.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4 # v4
        with:
          images: |
            dnanexus/dxda
          flavor: |
            latest=false
          tags: |
            type=semver,pattern={{version}}
      - name: Build and push image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
