name: Tests and build checks

on:
  pull_request:
    branches:
      - master

jobs:
  macos:
    name: Macos build
    runs-on: macos-latest
    env:
      GOOS: darwin
      GOARCH: amd64
      CGO_ENABLED: 1
    steps:
        - uses: actions/checkout@v4.2.2
        - uses: actions/setup-go@v5
          with:
            go-version: '1.22.12'
        - name: Build Macos executable
          run: |
            set -x
            go build -o dx-download-agent cmd/dx-download-agent/dx-download-agent.go
            chmod +x dx-download-agent
            ./dx-download-agent help
  windows:
    name: Windows build
    runs-on: windows-latest
    env:
      GOOS: windows
      GOARCH: amd64
      CGO_ENABLED: 1
    steps:
        - uses: actions/checkout@v4.2.2
        - uses: actions/setup-go@v5
          with:
            go-version: '1.22.12'
        - name: Build Windows executable
          run: |
            go build -o dx-download-agent.exe cmd/dx-download-agent/dx-download-agent.go
            .\dx-download-agent help
  linux:
    name: Linux build and test
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4.2.2
        - name: Build builder Docker image
          uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
          with:
            context: .
            file: builder.Dockerfile
            push: false
            tags: dxda-builder:latest
        - name: Build Linux executable
          run: |
            set -x
            docker run --rm \
            -v ${{ github.workspace }}:/dxda \
            -w /dxda \
            dxda-builder:latest \
            go build -o dx-download-agent cmd/dx-download-agent/dx-download-agent.go
            sudo chmod +x dx-download-agent
        - name: Run tests
          env:
            DX_API_TOKEN: ${{ secrets.DX_API_TOKEN }}
          run: |
            set -x
            ./dx-download-agent download -max_threads=`nproc` test_files/single_file.manifest.json.bz2
            ./dx-download-agent inspect test_files/single_file.manifest.json.bz2
