name : Build and push Docker image

on:
  push:
    branches:
      - master

jobs:
    build-and-push:
        name: Build and push Docker image
        runs-on: ubuntu-22.04
        steps:
             -
              name: Login to Docker Hub
              uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
             -
              name: Build and push image
              uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
              with:
                push: true
                tags: dnanexus/dxda:latest,dnanexus/dxda:${{ github.sha }} 
